body {
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: sans-serif;
	text-align: center;
}

ul {
	display: inline-block;
    padding-left: 0;
    text-align: left;
}


ol {
	display: inline-block;
    padding-left: 0;
    text-align: left;
}

table {
	text-align: center;
	margin-left:auto; 
    margin-right:auto;
	border: 0;
	width: 80%;
}

tr:nth-child(odd) {
	background: #CCC
}

tr:nth-child(even) {
	background: #FFF
}

div {
	background-color: #c2b280;
	width: 50%;
	text-align: center;
	margin-left:auto; 
    margin-right:auto;
}

a:hover { 
  background-color: aqua;
}

span {
	color: red;
	font-weight: bold;
}
